<!-- Header -->
<nav class="nav container">
    <div class="nav__brand">
        <a href="../index.html" class="nav__logo-link">
            <img src="../imgs/logo.png" alt="Autoscuola Carbonin" class="nav__logo">
        </a>
    </div>
    
    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="../index.html#home" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
                <a href="../index.html#autoscuola" class="nav__link">Autoscuola</a>
            </li>
            <li class="nav__item">
                <a href="../index.html#patenti" class="nav__link">Patenti</a>
            </li>
            <li class="nav__item">
                <a href="../index.html#servizi" class="nav__link active-link">Servizi</a>
            </li>
            <li class="nav__item">
                <a href="../index.html#contact" class="nav__link">Contatti</a>
            </li>
        </ul>
        <div class="nav__close" id="nav-close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    
    <div class="nav__actions">
        <a href="tel:+390422590972" class="nav__cta-btn nav__call-btn" onclick="handleContactAction(event)">
            <svg class="nav__cta-icon" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="m7.18 10.27 6.504 6.46c.697-.807 5.11-5.538 7.316.924 0 0-.232 3.346-4.994 3.346-3.367 0-6.851-4.038-9.29-6.346C4.626 12.692 3 10.154 3 7.846 3 3.116 6.252 3 6.252 3c7.432 2.538.929 7.27.929 7.27Z" fill="#ffffff"></path>
                </g>
            </svg>
            <span class="nav__call-text">+39 0422 590972</span>
        </a>
    </div>
    
    <div class="nav__toggle" id="nav-toggle">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12H21M3 6H21M3 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</nav>
<div class="nav__overlay" id="nav-overlay"></div>